h1.titulo{

    text-align: center;
}
div.cartpro{

    border: 1px solid black;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
div.podpod{
    border: solid black 1px;
    width: 100%;
    height: 100px;
    font-size: large;
}
div.carth{
    border: solid black 1px;
    height: 50px;
    width: 100%;
    color: rgb(0,15,100);
}