h1.titulo{

    text-align: center;
}
div.cartpro{

    border: 1px solid black;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}
div.podpod{
    border: solid black 1px;
    width: 100%;
    height: fit-content;
    font-size: large;
    color: rgb(95, 95, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.textinfo{
    width: fit-content;
    margin: 0px;
}
div.carth{
    border: solid black 1px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.htb{
    width: fit-content;
    color: black;
}

