div.sidebar{

    position:static;
    height:auto;
    width: 400px;
    background-color: rgb(153, 153, 153);

}

div.fh{

    width: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(194, 194, 194);

}
div.fbcards{

    padding-top: 60px;
    padding-bottom:60px;
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    row-gap: 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}
img.card-img-top{

    max-height: 120px;

}
div.card{

    max-height: 350px;

}
a.sexo2{

    color: rgb(111, 111, 235);

}
a.sexo2:hover{

    color: rgb(128, 109, 197);

}

