*{
    margin: 0%;

}

header.header{

    position:static;
    width: auto;
    height: 150px;
    background-color: rgb(95, 95, 95);

}
div.sidebar{

    position:static;
    height:auto;
    width: 400px;
    background-color: rgb(153, 153, 153);

}

div.fh{

    width: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(194, 194, 194);

}
div.fbcards{

    padding-top: 60px;
    padding-bottom:60px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 100px 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}
nav.dcdc{

    background-color: rgb(77, 77, 77);

}
